#canvasContainer {
    display: flex;
    align-items: center;
    justify-content: center;	
    position: relative;
    width: 1200;
    height: 800;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: width 1s ease, height 1s ease;
}

#transformationCanvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.controlsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    max-width: 640px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.controlGroup {
	width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    justify-content: center;
}
